  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      基于 <%= link_to "NOMINSANG", url_for("https://nominsang.cn") %> 构建。
    </div>
    <!-- Default to the left -->
    <strong>&copy; <%= Date.today.year %> <a href="https://lib.imu.edu.cn">内蒙古大学图书馆</a>。</strong>
  </footer>
