  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      基于 <%= link_to "NOMINSANG", url_for("https://nominsang.cn") %> 构建
    </div>
    <!-- Default to the left -->
    <strong>&copy; <%= Date.today.year %> <%=link_to Site.first.name, root_path %></strong>
  </footer>
